body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background-color: #f3e3e4;
  color: #8B0438;
  padding-bottom: 0;
}
a {
  text-decoration-line: none;
}
p {
  text-align: center;
}
p, li {
  font-family: "Inter", sans-serif !important;
}
h1 {
  text-align: center;
  font-size: 2em;
}
::-webkit-scrollbar {
  display: none;
}
*, ::after, ::before {
  box-sizing: border-box;
}
html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}
section {
  width: 100%;
  padding-top: 3%;
}
hr {
  width: 100%;
  color: #6F052E;
  margin-top: 3%;
  margin-bottom: 3%;
}
.page {
  padding: 10%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 4%;
}
.text {
  text-align: justify;
}

/* Navbar.js */
#desktop-nav-wrapper {
  grid-template-columns: 30% 70%;
  padding: 1%;
  background-color: #952d3e;
  color: #f3e3e4;
}
#desktop-nav-wrapper .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}
.nav-button {
  color: #f3e3e4;
  display: inline-block;
  padding-bottom: 3px;
  background-image: linear-gradient(#f3e3e4 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}
.nav-button:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}
.active .nav-button {
  color: #f3e3e4;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
#mobile-nav {
  display: block;
  padding: 10%;
  padding-bottom: 5%;
}
#dropdown-btn {
  border: none;
  background-color: transparent;
}
#menu-icon {
  font-size: 2em;
  color: #6F052E;
}
.dropdown {
  position: absolute;
  min-width: 80%;
  border-radius: 3%;
  background-color: #6F052E;
  z-index: 1;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  box-sizing: border-box;
}
#mobile-nav:hover .dropdown {
  display: block;
}


/* Homepage.js */
#homepage {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
#homepage .desc {
  padding-left: 5em;
  padding-right: 5em;
}
.banner-img-section {
  display: flex;
  justify-content: center;
}
#banner-img {
  width: 100%;
}
#principal-img {
  width: 80%;
}
.principal-welcome-wrapper {
  display: grid;
  grid-template-columns: 40% 50%;
  column-gap: 10%;
  padding: 3em 0;
}
.principal-welcome-wrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.principal-welcome-wrapper .left hr {
  width: 70%;
  border: 1px solid #8B0438;
}
.principal-welcome-wrapper .left h2 {
  letter-spacing: 0.2em;
  font-weight: normal;
  text-align: center;
}
.principal-welcome-wrapper .left .learn-more-btn {
  margin-top: 10%;
  font-size: 1em;
  color: #f3e3e4;
  background-color: #8B0438;
  border: none;
  border-radius: 10px;
}
.principal-welcome-wrapper .left .learn-more-btn p {
  font-family: "Playfair Display", serif;
}
.principal-welcome-wrapper .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.principal-welcome-wrapper .right h3 {
  text-align: end;
  font-weight: 500
}

/* Highlights Section */
#highlights-wrapper {
  /* display: grid; */
  /* grid-template-columns: 50% 50%; */
  columns: 2 400px;
}
.highlight-item {
  /* border: 2px solid #6F052E; */
  margin: 3%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.highlight-img {
  width: 100%;
  align-self: center;
}
.highlight-item h2 {
  text-align: center;
  padding: 1.5em 0;
  margin: 0;
}
.highlight-item p {
  text-align: justify;
  line-height: 1.5em;
  margin-top: 0;
}

/* Footnote.js */
#footer {
  background-color: #8B0438;
  color: #f3e3e4;
  width: 100vw;
  position: relative;
  padding: 5%;
  margin: 5% 0;
}
.desktop-footer {
  display: flex;
  justify-content: space-around;
  height: 35vh;
}
.mobile-footer {
  display: block;
}
.mobile-footer div {
  margin-top: 2em;
}
.mobile-footer #social-media-wrapper {
  position: relative;
  width: 100%;
  right: 0;
}

.footer-page-link {
  display: flex;
  flex-direction: column;
}
#footer .footer-page-link p {
  color: #f3e3e4;
  text-align: start;
  text-decoration: underline;
}
.organisation-info p {
  text-align: start;
}
#social-media-wrapper {
  display: flex;
  position: absolute;
  bottom: 8%;
  right: 5%;
  justify-content: space-around;
  width: 20%;
}
.social-btn {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  background-color: #f3e3e4;
  color: #6F052E;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon {
  font-size: 2em;
}

/* Milestones Section */
.timeline-wrapper {
  position: relative;
  margin-top: 5em;
}
/* line */
.timeline-wrapper::after {
  bottom: 0;
  content: "";
  left: 50%;
  background-color: #f3e3e4;
  width: 6px;
  top: 0;
  position: absolute;
  margin-left: -3px;
}

.timeline-component {
  background-color: #6F052E;
  color: #f3e3e4;
  width: 40%;
  position: relative;
  padding: 1em;
}
.timeline-wrapper .timeline-component:nth-child(even) {
  left: 50%;
}
.timeline-wrapper .timeline-component:nth-child(even) p, .timeline-wrapper .timeline-component:nth-child(odd) h3 {
  text-align: start !important;
}
.timeline-wrapper .timeline-component:nth-child(odd) {
  left: 10%;
}
.timeline-wrapper .timeline-component:nth-child(odd) p, .timeline-wrapper .timeline-component:nth-child(odd) h3 {
  text-align: end !important;
}

.mobile-timeline-wrapper .timeline-component {
  width: 100%;
  margin: 2em 0;
}

/* dot */
.timeline-wrapper .timeline-component::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  height: 2vw;
  width: 2vw;
  z-index: 1;
  border: 2px solid #8B0438;
  background-color: #f3e3e4;
  top: 40%;
  right: -10px;
}
.timeline-wrapper .timeline-component:nth-child(even)::after {
  left: -10px;
}
.timeline-text {
  padding: 1em;
}

/* About Us Page */
.member {
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 10%;
  padding-bottom: 0;
}
.member h3 {
  font-weight: normal;
}
.member-picture {
  border-radius: 8%;
}
.member .description {
  text-align: justify;
}
.text-hidden {
  display: none;
}
.read-more-btn {
  cursor: pointer;
  text-decoration: underline;
}
#team-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  /* width: min(1000px, 100%);
  margin: 0 auto;
  columns: 3 300px; */
}

/* Courses Page */
#courses-grid-display {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 2em;
  row-gap: 2em;
  margin-top: 2em;
  /* columns: 3 300px; */
  /* rows: 3 300px; */
}
.course-item {
  border: 2px solid #8B0438;
  background-color: #952d3e;
  color: #f3e3e4;
  border-radius: 5px;
  height: 400px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.course-item p, h3 {
  text-align: start;
  margin: 0;
}
.course-item h3 {
  margin-bottom: 0.5em;
}
.course-image {
  width: 70%;
  margin-bottom: 1em;
}

/* Course Detail Page */
.course-detail-page {
  padding: 15%;
  padding-top: 0;
}
.course-detail-page p {
  text-align: start;
  color: #8B0438;
}
.course-detail-page li {
  line-height: 2em;
}

/* Principal's Welcome */
#principal-welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  width: 100vw;
}
.principal-card {
  align-self: center;
  columns: 2 400px;
  column-gap: 3em;
}
.principal-card img {
  width: 100%;
}
.principal-card .right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.principal-card .right h1, .principal-card .right p {
  text-align: start !important;
}
.principal-card .right h2 {
  /* letter-spacing: 0.1em; */
  font-weight: normal;
}
#video-player {
  margin: 3%;
  border-radius: 15px;
  border: none;
  max-width: 100%;
}
.biography-text {
  padding-left: 10%;
  padding-right: 10%;
}
.biography-text p {
  text-align: justify;
}
#recent-imgs {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  column-gap: 2%;
  margin-top: 3%;
}
#recent-imgs img {
  width: 100%;
}